@import "mixins";

.playlist {
    .playlist-error {
        text-align: center;
        margin: 50px auto;

        .button {
            margin-top: 10px;
        }
    }
    &-load-more {
        margin: 30px auto;
        text-align: center;
    }
    &-controls {
        padding: 10px;
        display: flex;
        align-items: center;

        &-item {
            &-right {
                margin-left: auto !important;
            }
        }
    }

    .track {
        padding: 7.5px 10px;
        transition-duration: 0.1s;
        cursor: pointer;
        border-radius: 3px;

        &.active {
            background-color: rgba(0, 0, 0, 0.03);
        }

        &.loading {
            .track-play-overlay-playing {
                display: block !important;
            }
        }
        @media (hover: hover) {
            &:hover {
                background-color: rgba(0, 0, 0, 0.03);

                .track-play-overlay,
                .track-controls {
                    display: block;
                }
            }
        }
    }
    .track-image {
        width: 40px;
    }
    .track-controls {
        float: right;

        .player-control-checkbox {
            font-size: 20px;
        }
    }
    .track-play-overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        text-align: center;
        padding-top: 10px;
        background-color: rgba(0, 0, 0, 0.3);

        &-playing {
            display: block;
        }
    }
    .control-fav {
        .responsive(450px, { display: none; });
    }
}